<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<link rel="stylesheet" href="/static/css/style.css">

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>

	<script src="/static/js/app.js"></script>
	<script src="/static/js/route.js"></script>
	<script src="/static/js/controllers/post-controller.js"></script>
	<script src="/static/js/services/post-service.js"></script>
	<script src="/static/js/directives/post-directive.js"></script>

	<title>Flask Test!</title>
</head>
<body ng-app="FlaskTest">
	<div ng-view></div>
</body>
</html>
